.complaint {
    padding: 71px 0 46px;
    margin-bottom: 93px;
    background: $s;
}
.complaint-block {
    max-width: 750px;
    margin: 0 auto;
    .global-title {
        margin-bottom: 45px;
    }
}
.complaint-form {
    display: flex;
    .input-wrapper {
        margin-bottom: 16px;
    }
    .input-note {
        margin-top: -10px;
        margin-bottom: 17px;
    }
}
.complaint-form-col-rating {
    flex: 0 0 48%;
    max-width: 48%;
    padding-right: 10px;
}
.complaint-form-col {
    flex: 0 0 52%;
    max-width: 52%;
    margin-bottom: 45px;
}
.complaint-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 45px;
}
.complaint-rating-title {
    flex: 0 0 100%;
    max-width: 100%;
    color: $dgr;
    padding: 1px 0 16px 5px;
}
.complaint-rating-value {
    font-size: 11px;
    line-height: 1.364;
    color: rgba(57, 57, 57, 0.5);
}
.complaint-rating-block {
    padding-right: 4px;
    & > input {
        display: none;
    }
    label {
        cursor: pointer;
        float: right;
        width: 32px;
        height: 24px;
        padding-right: 6px;
        svg {
            display: block;
        }
    }
}
.complaint-rating-block > input:checked ~ label,
.complaint-rating-block:not(:checked) > label:hover,
.complaint-rating-block:not(:checked) > label:hover ~ label {
    .svg-fill {
        fill: #F3B800;
    }
}
.complaint-rating-block > input:checked + label:hover,
.complaint-rating-block > input:checked + label:hover ~ label,
.complaint-rating-block > input:checked ~ label:hover,
.complaint-rating-block > input:checked ~ label:hover ~ label,
.complaint-rating-block > label:hover ~ input:checked ~ label {
    .svg-fill {
        fill: darken(#F3B800, 5%);
    }
}
textarea.complaint-textarea {
    height: 120px;
}
.complaint-button {
    padding: 4px 0 16px;
    .button {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}
.complaint-agree {
    text-align: center;
    font-size: 11px;
    line-height: 1.55;
    a {
        font-weight: 500;
    }
}