/* content */
.spanning {
    clear: both;
}
.content-wrapper {
    margin-bottom: 30px;
}
.content {
    flex-grow: 1;
    max-width: calc(100% - 255px);
}
.sidebar {
    flex: 0 0 255px;
    max-width: 255px;
    padding-right: 35px;
}
.sidebar-menu {
    display: block;
    padding: 23px 0 17px;
    border-top: 1px solid #F0F0F0;
    &:first-child {
        padding-top: 6px;
        border-top: 0;
    }
    li {
        margin-bottom: 5px;
        a {
            display: block;
            padding: 5px 10px 7px;
            color: $b;
            &:hover {
                color: $text;
            }
        }
        &.active {
            a {
                background: $s;
                color: $b;
            }
        }
    }
}
.subscribe {
    margin-bottom: 65px;
    padding: 52px 0 51px;
    background: $dgr;
    color: $w;
    &-success {
        .subscribe-success-info {
            display: block;
        }
        .subscribe-email,
        .subscribe-button {
            display: none;
        }
    }
}
.subscribe-title {
    padding-right: 10px;
}
.subscribe-title,
.subscribe-title h4 {
    font-size: 17px;
    line-height: 1.36;
    font-weight: 500;
}
.subscribe-email {
    padding-right: 20px;
    input {
        float: left;
        width: 100%;
        padding: 13px 20px 14px 25px;
        font-size: 13px;
        line-height: 1.62;
        color: $w;
        border: 1px solid $tr;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        transition: color $d $f, background-color $d $f, border-color $d $f;
        &::placeholder {
            color: $w;
        }
        &.error {
            &::placeholder {
                color: $error;
            }
        }
    }
}
.subscribe-button {
    .button {
        width: 100%;
        padding: 15px 5px 17px;
    }
}
.subscribe-success-info {
    display: none;
    margin-right: 20px;
    font-size: 13px;
    line-height: 1.62;
    font-weight: 500;
    color: $p;
    padding: 14px 10px 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}
.seo {
    padding-bottom: 51px;
    h5 {
        font-size: 20px;
        line-height: 1.3;
        color: $b;
        margin-bottom: 34px;
    }
    ul {
        display: block;
        margin-bottom: 18px;
        li {
            padding-left: 25px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: 0;
                width: 3px;
                height: 3px;
                background: $text;
                border-radius: 50%;
            }
        }
    }
    p {
        margin-bottom: 18px;
    }
    p + h5 {
        margin-top: 44px;
    }
    p + ul {
        margin-left: 11px;
    }
    h5 + p {
        margin-top: -13px;
    }
}
.seo-separator {
    border-top: 1px solid #b8babc;
    height: 46px;
    font-size: 0;
    line-height: 0;
    clear: both;
}
.global-title {
    text-align: center;
    margin-bottom: 27px;
    h1,
    h2,
    h3,
    h4 {
        display: inline-block;
        vertical-align: top;
        font-size: 30px;
        line-height: 1.2;
        color: $b;
        strong {
            font-weight: 500;
        }
    }
    .filter-item-hint {
        display: inline-block;
        vertical-align: top;
        margin-top: 12px;
    }
}
.box {
    display: none;
    &.visible {
        display: block;
    }
}
.global-tab {
    margin-bottom: 93px;
}
.global-tabs {
    display: block;
    text-align: center;
    margin: -14px -18px 19px;
    li {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        padding: 10px 18px;
        a,
        span {
            display: block;
            padding-bottom: 3px;
            color: $dgr;
            border-bottom: 2px solid $tr;
            transition: color $d $f, border-color $d $f;
        }
        &:hover {
            a,
            span {
                color: $b;
            }
        }
        &:active {
            a,
            span {
                color: $b;
                border-bottom-color: #EBEBEB;
            }
        }
        &.active {
            cursor: default;
            margin-top: -1px;
            a,
            span {
                font-weight: 500;
                color: $b;
                border-bottom-color: $p;
            }
        }
    }
}
.breadcrumbs-push {
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 25px;
}
.breadcrumbs-wrapper {
    padding: 14px 0 29px;
}
.breadcrumbs {
    display: block;
    margin-left: -15px;
    li {
        float: left;
        line-height: 1.2;
        strong {
            display: block;
            padding: 7px 0 8px 15px;
            font-weight: 500;
            color: $dgr;
        }
        a {
            display: block;
            padding: 7px 21px 8px 15px;
            position: relative;
            color: $text;
            &:hover {
                color: $dgr;
            }
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -3px;
                right: 0;
                width: 8px;
                height: 5px;
                background: $tr url('../upload/down.svg') 0 0 no-repeat;
                background-size: 100% 100%;
                transform: rotate(-90deg);
            }
            &.breadcrumbs-back {
                padding-right: 15px;
                font-weight: 500;
                text-decoration: underline;
                letter-spacing: -0.24px;
                color: $l;
                &:hover {
                    color: $lh;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
}
.collections {
    margin-bottom: 93px;
}
.zoom-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $p;
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 14px;
        transform: translate3d(-50%, -50%, 0);
        background: $tr url('../upload/search.svg') 50% 50% no-repeat;
        background-size: 100% 100%;
    }
}
.content-narrow {
    max-width: 850px;
    padding-top: 8px;
}
.warranty {
    padding-bottom: 52px;
    & > p {
        margin-bottom: 18px;
        strong {
            font-weight: 500;
            color: $b;
        }
    }
    & > ul {
        display: block;
        margin-bottom: 18px;
        li {
            color: $dgr;
            padding-left: 18px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: 5px;
                width: 3px;
                height: 3px;
                background: $dgr;
                border-radius: 50%;
            }
        }
    }
}
.warranty-caption {
    display: flex;
    align-items: center;
    padding: 13px 0 17px;
}
.warranty-caption-icon {
    flex: 0 0 140px;
    max-width: 140px;
    padding-right: 20px;
    img {
        margin: 0 auto;
    }
}
.warranty-caption-content {
    flex-grow: 1;
    font-size: 15px;
    line-height: 1.2667;
}
.warranty-caption-title {
    color: $b;
    font-weight: 500;
    margin-bottom: 15px;
}
.warranty-caption-info {
    color: $dgr;
    margin-bottom: 6px;
}
.warranty-subtitle {
    font-size: 15px;
    line-height: 1.2;
    color: $b;
    padding-top: 20px;
    margin-bottom: 26px;
}
a.warranty-email {
    color: $text;
    &:hover {
        color: $b;
    }
}
.warranty-separator {
    height: 25px;
    margin-bottom: 7px;
    border-bottom: 1px solid #E1E1E1;
    font-size: 0;
    line-height: 0;
    clear: both;
}
.not-found {
    .global-tab {
        margin-bottom: 53px;
    }
}
.not-found-content {
    .global-title {
        margin-bottom: 16px;
    }
}
.not-found-search {
    padding-bottom: 10px;
    max-width: 330px;
    margin: 0 auto;
    .input-wrapper {
        position: relative;
        &.success {
            &:before {
                display: none;
            }
            input.input-text {
                padding-right: 46px;
            }
        }
    }
    input.input-text {
        padding-right: 46px;
    }
}
.not-found-search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 40px;
    border: 0;
    text-indent: -9999px;
    background: $tr url('../upload/search-green.svg') 14px 9px no-repeat;
    background-size: 20px 20px;
}
.not-found-search-title {
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
    color: $b;
    margin-bottom: 17px;
}
.not-found-img {
    margin-bottom: 30px;
    img {
        margin: 0 auto;
    }
}