/* grid */
.main {
    min-height: 100%;
    overflow: hidden;
}
.container {
    padding-left: 39px;
    padding-right: 39px;
    max-width: 1440px;
    margin: 0 auto;
}
.row {
    display: flex;
    &.align-center {
        align-items: center;
    }
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
}
$total-columns: 16;
$col-widths: ();
@for $i from 1 through $total-columns {
    .col-#{$i} {
        flex: 0 0 100% / $total-columns * $i;
        max-width: 100% / $total-columns * $i;
        min-height: 1px;
    }
    $col-widths: append($col-widths, comma);
}
.offset-1 {
    margin-left: 100% / $total-columns;
}