/*-------------------- Begin marketplace --------------------*/
.marketplace {
    &-hero {
        background: $p 50% 50% no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 100px;
        .container {
            position: relative;
        }
        .row {
            min-height: 580px;
        }
        &-content {
            padding: 186px 0 100px 88px;
            max-width: 710px;
        }
        &-caption {
            font-size: 44px;
            line-height: 1.14;
            font-weight: 900;
            color: $w;
            margin-bottom: 20px;
            h1 {
                font-size: 100%;
                font-weight: 900;
            }
        }
        &-icon-img {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        &-icon1 {
            position: absolute;
            top: 27px;
            left: 45.613%;
            width: 160px;
            height: 160px;
            border-radius: 30px;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
            background: #4f3f84;
        }
        &-icon2 {
            position: absolute;
            top: 131px;
            left: 40.775%;
            width: 100px;
            height: 100px;
            border-radius: 20px;
            box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
            background: #f3b800;
        }
        &-icon3 {
            position: absolute;
            bottom: 73px;
            left: 46.91%;
            width: 80px;
            height: 80px;
            border-radius: 15px;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
            background: $p;
        }
        &-icon4 {
            position: absolute;
            bottom: 102px;
            right: 8.84%;
            width: 160px;
            height: 160px;
            border-radius: 30px;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
            background: $dgr;
        }
        &-icon5 {
            position: absolute;
            top: 100px;
            left: 37.94%;
            width: 26px;
            height: 26px;
            border-radius: 6px;
            background: #6aa638;
        }
        &-icon6 {
            position: absolute;
            bottom: 271px;
            right: 5.23%;
            width: 46px;
            height: 46px;
            border-radius: 10px;
            background: #61A334;
        }
        &-icon7 {
            position: absolute;
            bottom: 59px;
            left: 33.1%;
            width: 46px;
            height: 46px;
            border-radius: 10px;
            background: $w;
        }
        &-icon8 {
            position: absolute;
            bottom: -30px;
            left: 37.17%;
            width: 90px;
            height: 90px;
            border-radius: 17px;
            background: #6aa638;
        }
    }
    &-title {
        text-align: center;
        font-size: 26px;
        line-height: 1.154;
        font-weight: 900;
        color: $b;
        margin-bottom: 50px;
        h1, h2, h3, h4, h5, h6 {
            font-size: 100%;
            font-weight: 900;
        }
    }
    &-advantages {
        display: flex;
        flex-wrap: wrap;
        margin: 0 15px 60px;
        &-col {
            flex: 0 0 50%;
            max-width: 645px;
            padding: 0 75px;
        }
    }
    &-advantage {
        display: flex;
        align-items: center;
        padding: 20px 0 40px;
        &-icon {
            flex: 0 0 132px;
            max-width: 132px;
            padding-right: 28px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 104px;
                height: 104px;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        &-text {
            flex-grow: 1;
            padding-top: 2px;
            line-height: 1.54;
            color: $dgr;
        }
        &-title {
            font-size: 15px;
            line-height: 1.4;
            font-weight: 500;
            color: $b;
            margin-bottom: 9px;
            h4 {
                font-size: 100%;
                font-weight: 500;
            }
        }
    }
    &-process {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0 65px;
        &-step {
            flex: 0 0 120px;
            max-width: 120px;
            margin-bottom: 60px;
            &.active {
                .marketplace-process-step-icon {
                    border-color: $p;
                }
            }
        }
        &-step-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 24px;
            width: 100px;
            height: 100px;
            border: 7px solid rgba(131, 193, 80, 0.4);
            background: $w;
            border-radius: 50%;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
                border-radius: 50%;
            }
        }
        &-step-number {
            position: relative;
            font-size: 26px;
            line-height: 1.154;
            font-weight: bold;
            padding-bottom: 4px;
        }
        &-step-title {
            font-size: 15px;
            line-height: 1.3334;
            font-weight: 500;
            color: $b;
            text-align: center;
        }
        &-step-img {
            position: relative;
        }
        &-dots {
            padding: 46px 15px;
            font-size: 0;
            line-height: 0;
            white-space: nowrap;
            li {
                display: inline-block;
                vertical-align: top;
                margin: 0 6px;
                width: 8px;
                height: 8px;
                background: #e1e1e1;
                border-radius: 50%;
            }
        }
    }
    &-apply {
        margin-bottom: 100px;
        padding: 0 30px 50px;
        background: $s;
        border-radius: 3px;
        &-icon {
            position: relative;
            top: -25px;
            padding: 5px;
            margin: 0 auto 22px;
            width: 50px;
            height: 50px;
            background: $w;
            border-radius: 50%;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            background: $p;
            border-radius: 50%;
        }
        &-content {
            max-width: 570px;
            margin: 0 auto;
        }
        &-form {
            margin-bottom: 50px;
        }
    }
    &-requirements {
        padding-bottom: 60px;
        text-align: center;
        p {
            line-height: 1.54;
            margin-bottom: 39px;
            color: $dgr;
            strong {
                color: $b;
            }
        }
        &-link {
            margin-bottom: 33px;
            line-height: 1.54;
            font-weight: 500;
            letter-spacing: -0.24px;
            a {
                display: inline-block;
                vertical-align: top;
                padding: 4px 10px;
            }
        }
    }
    &-header {
        .header-profile {
            margin-bottom: 2px;
        }
    }
    &-manager {
        color: $dgr;
        padding: 10px 0 12px;
        strong {
            display: block;
            font-size: 15px;
            line-height: 1.4;
            font-weight: 500;
            color: $b;
            letter-spacing: -0.46px;
        }
        a {
            color: $b;
            &:hover {
                color: $text;
            }
        }
    }
    &-logo {
        a {
            display: block;
            max-width: 216px;
            padding: 33px 10px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    &-nav {
        background: $dgr;
        &-list {
            display: flex;
            justify-content: center;
            margin: 0 -21px;
            & > li {
                & > a {
                    display: block;
                    padding: 17px 21px;
                    text-align: center;
                    font-size: 16px;
                    line-height: 1.625;
                    font-weight: 500;
                    color: #a1a1a1;
                    letter-spacing: -0.11px;
                    white-space: nowrap;
                }
                &:hover,
                &.active {
                    & > a {
                        color: $w;
                    }
                }
            }
        }
    }
    &-start {
        padding: 70px 0 219px;
        background: $s;
        &-content {
            max-width: 1180px;
            margin: 0 auto 60px;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -54px;
        }
        &-col {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 54px;
        }
        &-item {
            display: flex;
            align-items: center;
            padding: 20px 0 30px;
        }
        &-icon {
            flex: 0 0 132px;
            max-width: 132px;
            padding-right: 28px;
            position: relative;
        }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 104px;
            height: 104px;
            background: $w;
            border-radius: 50%;
            overflow: hidden;
        }
        &-number {
            position: absolute;
            right: 29px;
            bottom: 1px;
            width: 30px;
            height: 30px;
            font-size: 13px;
            line-height: 1.85;
            font-weight: bold;
            color: $w;
            text-align: center;
            white-space: nowrap;
            border: 2px solid $s;
            background: $p;
            border-radius: 50%;
            overflow: hidden;
        }
        &-text {
            flex-grow: 1;
            line-height: 1.54;
            color: $dgr;
            padding-top: 2px;
        }
        &-note {
            font-size: 11px;
            line-height: 1.455;
            color: $t;
            padding-top: 7px;
            padding-bottom: 2px;
            max-width: 320px;
        }
    }
    &-documents {
        max-width: 1180px;
        margin: -219px auto 100px;
        &-tabs {
            display: flex;
            justify-content: center;
            margin: 0 -35px 30px;
            li {
                padding: 0 35px;
                a {
                    display: block;
                    font-size: 26px;
                    line-height: 1.154;
                    color: $text;
                    padding: 10px 0;
                    border-bottom: 4px solid $tr;
                    &:hover {
                        color: $b;
                    }
                }
                &.active {
                    a {
                        color: $b;
                        font-weight: 900;
                        border-bottom-color: $p;
                    }
                }
            }
        }
        &-content {
            padding: 75px 30px 95px;
            background: $w;
            border-radius: 3px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
        &-title {
            margin-bottom: 37px;
            font-size: 15px;
            line-height: 1.4;
            font-weight: 500;
            color: $b;
            text-align: center;
            h3 {
                font-size: 100%;
                font-weight: 500;
            }
        }
        &-list {
            max-width: 812px;
            margin: 0 auto;
            border-top: 2px solid #e1e1e1;
        }
    }
    &-document {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 102px;
        padding: 31px 37px 29px 39px;
        border: 2px solid #e1e1e1;
        border-top: 0;
        &-title {
            flex-grow: 1;
            max-width: 543px;
            padding-right: 30px;
            font-size: 13px;
            line-height: 1.54;
            color: $dgr;
        }
        &-upload {
            flex: 0 0 147px;
            max-width: 147px;
            margin-top: -2px;
            input {
                display: none !important;
            }
            label {
                display: block;
                cursor: pointer;
                white-space: nowrap;
                text-align: center;
                padding: 10px 10px 12px;
                font-weight: 500;
                color: $b;
                border-radius: 3px;
                background: $s;
                transition: color $d $f, background-color $d $f;
                &:hover {
                    background-color: darken($s, 5%);
                }
            }
            &-icon {
                display: inline-block;
                vertical-align: top;
                width: 12px;
                height: 14px;
                margin: 3px 3px 0 0;
                background: $tr url('../upload/marketplace-upload.svg') 50% 50% no-repeat;
                background-size: 12px 14px;
            }
            &-text {
                display: inline-block;
                vertical-align: top;
            }
            &.active {
                label {
                    color: $w;
                    background-color: $p;
                }
                .marketplace-document-upload-icon {
                    background-image: url('../upload/check.svg');
                    background-size: 20px 20px;
                }
            }
        }
    }
    &-date {
        max-width: 1180px;
        margin: 0 auto 100px;
        &-table {
            width: 100%;
            margin-bottom: 30px;
            table-layout: fixed;
            th,
            td {
                padding: 5px;
                border: 0;
                vertical-align: middle;
                text-align: center;
                font-size: 12px;
                line-height: 1.5;
                font-weight: 500;
                color: $b;
            }
            th {
                padding-top: 8px;
                padding-bottom: 25px;
            }
            td {
                border: 1px solid #e1e1e1;
                &:first-child {
                    background: $s;
                }
            }
        }
        &-checkbox {
            input {
                display: none;
                &:checked + label {
                    background-color: #e6f3dc;
                    &:after {
                        opacity: 1;
                    }
                }
                &:disabled + label {
                    cursor: default;
                    pointer-events: none;
                }
            }
            label {
                cursor: pointer;
                display: block;
                height: 50px;
                position: relative;
                transition: background-color $d $f;
                -webkit-touch-callout: none;
                user-select: none;
                &:after {
                    opacity: 0;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 12px;
                    height: 10px;
                    margin: -4px 0 0 -6px;
                    background: $tr url('../upload/check-green.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                    transition: opacity $d $f;
                }
            }
        }
        &-save {
            max-width: 300px;
            margin: 0 auto;
            .button {
                width: 100%;
            }
        }
    }
}
@media (max-width: 1325px) {
    .marketplace-hero-content {
        padding-left: 0;
        max-width: 622px;
    }
    .marketplace-advantages {
        justify-content: space-evenly;
        margin-left: -15px;
        margin-right: -15px;
        &-col {
            padding-left: 15px;
            padding-right: 15px;
            max-width: 525px;
        }
    }
    .marketplace-process {
        justify-content: space-evenly;
        &-dots {
            padding: 48px 0 49px;
            margin: 0 -10px;
            li {
                margin: 0 2px;
                width: 3px;
                height: 3px;
            }
        }
    }
    .marketplace-header {
        .col-5,
        .col-6 {
            flex: 1 0 auto;
            max-width: 100%;
        }
    }
    .marketplace-nav-list {
        margin: 0 -15px;
        & > li {
            & > a {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .marketplace-start {
        &-list {
            margin-left: -15px;
            margin-right: -15px;
        }
        &-col {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .marketplace-document {
        padding-left: 28px;
        padding-right: 28px;
    }
    .marketplace-date-table {
        th,
        td {
            font-size: 11px;
        }
    }
}
/*-------------------- End marketplace --------------------*/