.no-js {
    .new-cabinet-status-promocode-list {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}
.new-cabinet {
    clear: both;
    position: relative;
    padding-bottom: 120px;
    &-pt {
        padding-top: 73.6px;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 434px;
        background: $s;
    }
    .container {
        position: relative;
    }
    &-content {
        max-width: 996px;
        margin: 0 auto;
    }
    &-caption {
        margin: -9px 0 41px;
        text-align: center;
        h1 {
            font-size: 26px;
            line-height: 1.154;
            font-weight: 900;
            color: $b;
            margin-bottom: 14px;
        }
    }
    &-title {
        font-size: 15px;
        line-height: 1.334;
        font-weight: 500;
    }
    &-navigation {
        display: flex;
        margin: 0 -1px 80px;
        li {
            flex: 1 1 0;
            max-width: 100%;
            padding: 0 1px;
            a {
                display: block;
                padding: 13px 3px 15px;
                text-align: center;
                color: $b;
                background: $w;
                border: 2px solid $tr;
                &:hover {
                    color: $text;
                }
            }
            &.active {
                a {
                    color: $b;
                    border-color: $p;
                    background-color: #F3F9ED;
                }
            }
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }
    }
    &-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -35px -16px 0;
        li {
            padding: 0 16px;
            a {
                display: block;
                padding-bottom: 12px;
                font-size: 15px;
                line-height: 1.334;
                color: $dgr;
                white-space: nowrap;
                border-bottom: 3px solid $tr;
                &:hover {
                    color: $b;
                }
            }
            &.active {
                a {
                    color: $b;
                    border-bottom-color: $p;
                }
            }
        }
    }
    &-wrapper {
        padding: 56px 40px;
        background: $w;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.02), 0 0 50px 0 rgba(0, 0, 0, 0.03), 0 0 100px 0 rgba(0, 0, 0, 0.05);
    }
    &-status {
        display: flex;
        max-width: 812px;
        margin: 0 auto;
        &-col {
            flex: 0 0 50.98522%;
            max-width: 50.98522%;
            padding-right: 16px;
        }
        &-info {
            margin-bottom: 16px;
            padding: 24px 24px 32px;
            background: $s;
            border-radius: 5px;
        }
        &-user {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
            &-icon {
                flex: 0 0 58px;
                max-width: 58px;
                align-self: flex-start;
            }
            &-initials {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                white-space: nowrap;
                font-size: 20px;
                line-height: 1.3;
                font-weight: 900;
                color: #7396d1;
                text-transform: uppercase;
                width: 58px;
                height: 58px;
                padding: 0 0 4px;
                background: #e3eaf6;
                border-radius: 50%;
                overflow: hidden;
            }
            &-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 58px;
                height: 58px;
                background: $w;
                border-radius: 50%;
                overflow: hidden;
            }
            &-data {
                flex-grow: 1;
                max-width: calc(100% - 58px);
                padding-left: 12px;
            }
            &-current {
                font-size: 20px;
                line-height: 1.3;
                font-weight: 900;
                color: $b;
                margin-bottom: 5px;
            }
            &-note {
                font-size: 11px;
                line-height: 1.455;
                margin-bottom: 2px;
            }
        }
        &-progress {
            &-title {
                font-size: 15px;
                line-height: 1.334;
                font-weight: 900;
                color: $b;
                margin-bottom: 20px;
            }
            &-total {
                display: flex;
                justify-content: space-between;
                color: $b;
                line-height: 1.54;
                margin-bottom: 13px;
                &-text {
                    font-weight: 500;
                    padding-right: 10px;
                }
                &-number {
                    white-space: nowrap;
                    text-align: right;
                }
            }
            &-bar {
                margin-bottom: 11px;
                position: relative;
                height: 8px;
                border-radius: 4px;
                background: $w;
                overflow: hidden;
                &-current {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background-image: linear-gradient(to right, #f3b800 0%, #83c150 100%);
                }
            }
            &-current {
                display: flex;
                justify-content: space-between;
                font-size: 11px;
                line-height: 1.82;
                margin-bottom: 1px;
                strong {
                    font-weight: 500;
                    white-space: nowrap;
                }
                &-text {
                    padding-right: 10px;
                }
                &-remain {
                    text-align: right;
                }
            }
        }
        &-bonuses {
            padding: 24px 24px 32px;
            background: $s;
            border-radius: 5px;
            &-title {
                font-size: 20px;
                line-height: 1.3;
                font-weight: 900;
                color: $b;
                margin-bottom: 28px;
            }
        }
        &-discounts {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -8px 15px;
            &-item {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0 8px 16px;
            }
        }
        &-discount {
            padding: 20px 10px 21px;
            color: #7396d1;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            background: $w;
            &-number {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 63px;
                height: 63px;
                padding-bottom: 2px;
                margin: 0 auto 7px;
                font-size: 20px;
                line-height: 1.3;
                font-weight: 900;
                white-space: nowrap;
                overflow: hidden;
                background: rgba(115, 150, 209, 0.2);
                border-radius: 50%;
            }
            &-title {
                font-size: 15px;
                line-height: 1.334;
                font-weight: 900;
            }
            &-green {
                color: $p;
                .new-cabinet-status-discount-number {
                    background: rgba(131, 193, 80, 0.2);
                }
            }
            &-yellow {
                color: #f3b800;
                .new-cabinet-status-discount-number {
                    background: rgba(243, 184, 0, 0.2);
                }
            }
        }
        &-promocode {
            margin: 0 -24px;
            padding: 0 24px;
            overflow: hidden;
            &-caption {
                font-size: 15px;
                line-height: 1.334;
                font-weight: 900;
                color: $b;
                margin-bottom: 25px;
            }
            &-list {
                margin-bottom: 59px;
                &.swiper-container {
                    overflow: visible;
                }
                .swiper-button-prev,
                .swiper-button-next {
                    right: -12px;
                    margin-top: -21px;
                    width: 42px;
                    height: 42px;
                    background: $w;
                    border-radius: 50%;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
                    &:after {
                        left: 2px;
                        background-image: url('../upload/right-small.svg');
                        background-size: 12px 20px;
                    }
                    &.swiper-button-disabled {
                        display: none;
                    }
                }
                .swiper-button-prev {
                    right: auto;
                    left: -12px;
                    &:after {
                        left: 0;
                        right: 2px;
                    }
                }
                .swiper-pagination {
                    bottom: -30px;
                    &-bullet {
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        margin-left: 4px !important;
                        margin-right: 4px !important;
                        &-active {
                            width: 8px;
                        }
                    }
                }
            }
            &-item {
                display: flex;
                align-items: center;
                padding: 16px 34px 16px 24px;
                border-radius: 5px;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                background: $w;
            }
            &-icon {
                flex: 0 0 58px;
                max-width: 58px;
                align-self: flex-start;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                    background: $s;
                    overflow: hidden;
                }
            }
            &-info {
                flex-grow: 1;
                max-width: calc(100% - 58px);
                padding-left: 16px;
            }
            &-title {
                font-size: 15px;
                line-height: 1.4;
                font-weight: 500;
                color: $b;
                margin-bottom: 2px;
            }
            &-text {
                font-size: 15px;
                line-height: 1.4;
                font-weight: 500;
                color: $p;
            }
            &-note {
                padding-top: 2px;
            }
            &-button {
                .button {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    box-shadow: none;
                }
            }
        }
        &-system {
            flex: 0 0 49.01478%;
            max-width: 49.01478%;
            padding: 27px 23px 10px;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            &-title {
                font-size: 20px;
                line-height: 1.3;
                font-weight: 900;
                color: $b;
                margin-bottom: 39px;
            }
        }
        &-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 24px;
            &-icon {
                flex: 0 0 58px;
                max-width: 58px;
                height: 58px;
                padding: 10px;
                background: $s;
                border-radius: 50%;
                position: relative;
                &::after {
                    display: none;
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: 50%;
                    margin-left: -8px;
                    width: 16px;
                    height: 16px;
                    background: $p url('../upload/new-cabinet-check.svg') 50% 50% no-repeat;
                    background-size: 12px 12px;
                    border-radius: 50%;
                }
            }
            &-info {
                flex-grow: 1;
                max-width: calc(100% - 58px);
                padding-left: 16px;
            }
            &-title {
                font-size: 15px;
                line-height: 1.2;
                font-weight: 900;
                color: $b;
                margin-bottom: 7px;
            }
            &-total {
                margin-bottom: 13px;
                strong {
                    font-weight: normal;
                    color: $b;
                    white-space: nowrap;
                }
            }
            &-bonuses {
                display: flex;
                margin: 0 -4px;
                &-col {
                    flex: 1 1 auto;
                    max-width: 100%;
                    padding: 0 4px 8px;
                }
            }
            &-bonus {
                padding: 3px 4px 5px;
                font-size: 11px;
                line-height: 1.82;
                font-weight: 500;
                color: $b;
                text-align: center;
                background: $s;
                border-radius: 2px;
                &-green {
                    color: $p;
                    background: rgba(131, 193, 80, 0.2);
                    ;
                }
                &-yellow {
                    color: #f3b800;
                    background: rgba(243, 184, 0, 0.2);
                }
            }
            &-active {
                .new-cabinet-status-item-icon {
                    &::after {
                        display: block;
                    }
                }
            }
            &-inactive {
                .new-cabinet-status-item-icon {
                    img {
                        filter: grayscale(100%);
                    }
                }
                .new-cabinet-status-item-title,
                .new-cabinet-status-item-total strong {
                    color: $t;
                }
                .new-cabinet-status-item-bonus {
                    color: $t;
                    background: $s;
                }
            }
        }
    }
    &-modal {
        &-close {
            position: absolute;
            z-index: 3;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 13px;
                right: 13px;
                height: 2px;
                margin-top: -1px;
                background: $t;
                transform: rotate(45deg);
                transition: background-color $d $f;
                will-change: background-color;
            }
            &:after {
                transform: rotate(-45deg);
            }
            &:hover {
                &:before,
                &:after {
                    background-color: $text;
                }
            }
        }
        &-caption {
            padding: 28px 60px;
            font-size: 20px;
            line-height: 1.2;
            font-weight: bold;
            color: $b;
            text-align: center;
            border-bottom: 1px solid #e1e1e1;
        }
        &-promocode {
            position: absolute;
            width: 1180px;
            max-width: 100%;
            background: $w;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            &-caption {
                padding: 28px 60px;
                font-size: 20px;
                line-height: 1.2;
                font-weight: bold;
                color: $b;
                text-align: center;
                border-bottom: 1px solid #e1e1e1;
            }
            &-content {
                padding: 103px 40px 100px;
            }
            &-close {
                text-align: center;
                .button {
                    min-width: 260px;
                }
            }
            &-process {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: center;
                &-step {
                    flex: 0 0 188px;
                    max-width: 188px;
                    margin-bottom: 57px;
                    &.active {
                        .new-cabinet-modal-promocode-process-step-icon {
                            border-color: $p;
                        }
                    }
                }
                &-step-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto 23px;
                    width: 100px;
                    height: 100px;
                    border: 7px solid rgba(131, 193, 80, 0.4);
                    background: $w;
                    border-radius: 50%;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
                        border-radius: 50%;
                    }
                }
                &-step-number {
                    position: relative;
                    font-size: 26px;
                    line-height: 1.154;
                    font-weight: bold;
                    padding-bottom: 2px;
                }
                &-step-title {
                    font-size: 15px;
                    line-height: 1.3334;
                    font-weight: 500;
                    color: $b;
                    text-align: center;
                }
                &-step-img {
                    position: relative;
                }
                &-dots {
                    flex: 0 0 20px;
                    max-width: 20px;
                    height: 100px;
                    position: relative;
                    &-list {
                        display: block;
                        position: absolute;
                        left: -30px;
                        top: 46px;
                        font-size: 0;
                        line-height: 0;
                        white-space: nowrap;
                        li {
                            display: inline-block;
                            vertical-align: top;
                            margin: 0 6px;
                            width: 8px;
                            height: 8px;
                            background: #e1e1e1;
                            border-radius: 50%;
                        }
                    }
                }
            }
            &-apply {
                position: absolute;
                width: 1180px;
                max-width: 100%;
                background: $w;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
                .new-cabinet-modal-promocode-process-step {
                    flex: 0 0 240px;
                    max-width: 240px;
                }
            }
        }
        &-confirm-phone {
            position: absolute;
            width: 626px;
            max-width: 100%;
            background: $w;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            &-content {
                padding: 40px 92px;
            }
            &-info {
                margin-bottom: 24px;
                text-align: center;
                font-size: 13px;
                line-height: 1.54;
                color: $dgr;
                strong {
                    font-weight: 500;
                }
            }
            &-buttons {
                display: flex;
                margin: 0 -4px 24px;
            }
            &-button {
                flex: 1 1 0;
                max-width: 100%;
                padding: 0 4px;
                .button {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        &-confirm-email {
            position: absolute;
            width: 630px;
            max-width: 100%;
            background: $w;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            &-content {
                padding: 64px 64px 56px;
            }
            &-icon {
                width: 124px;
                height: 124px;
                margin: 0 auto 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
            }
            &-info {
                margin-bottom: 32px;
                text-align: center;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                strong {
                    font-weight: 500;
                }
            }
            &-button {
                text-align: center;
                margin-bottom: 24px;
                .button {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        &-change-phone {
            position: absolute;
            width: 442px;
            max-width: 100%;
            background: $w;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            &-content {
                padding: 40px 92px;
            }
            &-button {
                padding-top: 12px;
                margin-bottom: 16px;
                .button {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            &-terms {
                margin-bottom: 24px;
                font-size: 11px;
                line-height: 1.455;
                text-align: center;
            }
        }
        &-verify-phone {
            position: absolute;
            width: 442px;
            max-width: 100%;
            background: $w;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            &-content {
                padding: 40px 92px;
            }
            &-info {
                margin-bottom: 3px;
                font-size: 13px;
                line-height: 1.54;
                color: $dgr;
                strong {
                    font-weight: 500;
                }
            }
            &-change {
                margin-bottom: 17px;
                font-size: 13px;
                line-height: 1.54;
                font-weight: 500;
            }
            &-resend {
                margin-top: -11px;
                margin-bottom: 21px;
                font-size: 13px;
                line-height: 1.54;
                font-weight: 500;
            }
            &-button {
                padding-top: 4px;
                margin-bottom: 24px;
                .button {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    &.disabled {
                        pointer-events: auto;
                    }
                }
            }
            &-success {
                padding: 40px;
                &-icon {
                    width: 124px;
                    height: 124px;
                    margin: 0 auto 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $s;
                    border-radius: 50%;
                    overflow: hidden;
                }
                &-text {
                    margin-bottom: 24px;
                    text-align: center;
                    font-size: 13px;
                    line-height: 1.54;
                    color: $b;
                    strong {
                        font-weight: 500;
                    }
                }
                &-button {
                    text-align: center;
                    margin-bottom: 24px;
                    .button {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }
        &-add-address {
            position: absolute;
            width: 994px;
            max-width: 100%;
            background: $w;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            .new-cabinet-modal-close {
                right: 44px;
            }
            &-caption {
                padding: 28px 84px 28px 64px;
                font-size: 20px;
                line-height: 1.2;
                font-weight: bold;
                color: $b;
                border-bottom: 1px solid #e1e1e1;
            }
            &-content {
                padding: 40px 44px 80px;
                display: flex;
            }
            &-form {
                flex: 0 0 43.488%;
                max-width: 43.488%;
                padding: 0 20px;
            }
            &-map {
                height: 100%;
                &-block {
                    flex: 0 0 56.512%;
                    max-width: 56.512%;
                    padding: 0 20px;
                    min-height: 652px;
                }
            }
            &-city {
                margin-bottom: 12px;
                font-size: 13px;
                line-height: 2.462;
                font-weight: 500;
                color: $dgr;
                &-link {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    padding-right: 32px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 13px;
                        right: 11px;
                        width: 10px;
                        height: 7px;
                        background: $tr url('../upload/new-cabinet-city-arrow.svg') 50% 50% no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            &-row {
                display: flex;
                margin: 0 -6px;
            }
            &-col {
                flex: 1 1 0;
                max-width: 100%;
                padding: 0 6px;
            }
            &-cta {
                padding-top: 8px;
                .button {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            &-detail {}
            &-success {
                position: absolute;
                width: 442px;
                max-width: 100%;
                background: $w;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
                &-content {
                    padding: 40px;
                }
                &-icon {
                    width: 124px;
                    height: 124px;
                    margin: 0 auto 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $s;
                    border-radius: 50%;
                    overflow: hidden;
                }
                &-text {
                    margin-bottom: 24px;
                    text-align: center;
                    font-size: 13px;
                    line-height: 1.54;
                    color: $b;
                    strong {
                        font-weight: 500;
                    }
                }
                &-button {
                    text-align: center;
                    margin-bottom: 24px;
                    .button {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
            &-delete {
                position: absolute;
                width: 630px;
                max-width: 100%;
                background: $w;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
                &-content,
                &-success {
                    padding: 64px 40px 56px;
                }
                &-icon {
                    width: 124px;
                    height: 124px;
                    margin: 0 auto 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $s;
                    border-radius: 50%;
                    overflow: hidden;
                }
                &-text {
                    margin-bottom: 32px;
                    text-align: center;
                    font-size: 13px;
                    line-height: 1.54;
                    color: $b;
                    strong {
                        font-weight: 500;
                    }
                }
                &-buttons {
                    display: flex;
                    justify-content: center;
                    margin: 0 -8px;
                    .new-cabinet-modal-add-address-delete-button {
                        padding: 0 8px;
                    }
                }
                &-button {
                    text-align: center;
                    margin-bottom: 24px;
                    .button {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
    &-profile {
        max-width: 812px;
        margin: 0 auto;
        &-row {
            display: flex;
            margin: 0 -8px;
        }
        &-col {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 8px;
        }
        &-block {
            padding: 36px 40px 40px;
            min-height: 100%;
            background: $s;
            border-radius: 5px;
        }
        &-title {
            margin-bottom: 21px;
            font-size: 15px;
            line-height: 1.334;
            font-weight: 900;
            color: $dgr;
        }
        &-save {
            padding-top: 5px;
            margin-bottom: 20px;
            .button {
                width: 100%;
            }
            &-success {
                position: relative;
                padding: 10px 0 10px 24px;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                &::before {
                    content: "";
                    position: absolute;
                    left: 1px;
                    top: 13px;
                    width: 14px;
                    height: 14px;
                    background: $tr url('../upload/new-cabinet-success.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-input {
        &-wrapper {
            margin-bottom: 20px;
            &.success {
                .new-cabinet-input-block {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 13px;
                        right: 13px;
                        width: 14px;
                        height: 14px;
                        background: $tr url('../upload/new-cabinet-success.svg') 50% 50% no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            &.error {
                .new-cabinet-input-note {
                    color: $red;
                }
                .new-cabinet-input-text,
                .new-cabinet-input-textarea {
                    border-color: $red;
                }
            }
            &.warning {
                .new-cabinet-input-text,
                .new-cabinet-input-textarea {
                    border-color: #FFA22A;
                }
                .new-cabinet-input-block {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 13px;
                        right: 13px;
                        width: 14px;
                        height: 14px;
                        background: $tr url('../upload/new-cabinet-warning.svg') 50% 50% no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            .new-cabinet-enable-toggle {
                margin-top: 12px;
            }
        }
        &-date {
            width: 50%;
        }
        &-caption {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            & > label {
                display: block;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                margin: 0;
            }
        }
        &-cta {
            padding-left: 10px;
            font-size: 13px;
            line-height: 1.54;
            font-weight: 500;
            text-align: right;
            a {
                display: block;
            }
        }
        &-block {
            margin-bottom: 7px;
            position: relative;
        }
        &-text,
        &-textarea {
            display: block;
            width: 100%;
            height: 40px;
            padding: 0 39px 2px 15px;
            font-size: 13px;
            color: $b;
            background: $w;
            border: 1px solid $t;
            border-radius: 2px !important;
            transition: color $d $f, border-color $d $f;
            &::placeholder {
                color: $t;
            }
            &:hover,
            &:focus {
                border-color: $p;
            }
            &:read-only {
                color: $t;
                border-color: $t;
            }
        }
        &-textarea {
            height: 60px;
            line-height: 1.54;
            padding-top: 9px;
            padding-bottom: 9px;
            font-family: $fontFamily;
            overflow: auto;
            resize: none;
        }
        &-note {
            font-size: 11px;
            line-height: 1.455;
            color: $text;
        }
        &-radio {
            display: block;
            margin-bottom: 4px;
            input {
                display: none;
                &:checked + label {
                    &::before {
                        border-color: $p;
                        background-color: $p;
                    }
                    &::after {
                        opacity: 1;
                    }
                    &:hover {
                        &::before {
                            border-color: #569F29;
                            background-color: #569F29;
                        }
                    }
                }
                &:disabled + label {
                    cursor: default;
                    &::before {
                        border-color: rgba(161, 161, 161, 0.3);
                    }
                }
                &:checked:disabled + label {
                    &::before {
                        border-color: $tr;
                        background-color: rgba(131, 193, 80, 0.3);
                    }
                }
            }
            label {
                cursor: pointer;
                user-select: none;
                display: block;
                position: relative;
                margin: 0;
                padding: 0 0 0 26px;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background: $w;
                    border: 1px solid $t;
                    border-radius: 50%;
                    transition: background-color $d $f, border-color $d $f;
                }
                &::after {
                    opacity: 0;
                    content: "";
                    position: absolute;
                    top: 7px;
                    left: 5px;
                    width: 6px;
                    height: 6px;
                    background: $w;
                    border-radius: 50%;
                    transition: opacity $d $f;
                }
                &:hover {
                    &::before {
                        border-color: $dgr;
                    }
                }
            }
        }
    }
    &-datepicker {
        cursor: pointer;
        background: $w url('../upload/datepicker.svg') 100% 50% no-repeat;
        background-size: 28px 17px;
    }
    &-address {
        max-width: 812px;
        margin: 0 auto;
        &-empty {
            padding: 64px 0;
            text-align: center;
            &-icon {
                width: 124px;
                height: 124px;
                margin: 0 auto 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
            }
            &-title {
                margin-bottom: 12px;
                font-size: 15px;
                line-height: 1.4;
                font-weight: 500;
            }
            &-info {
                margin-bottom: 12px;
                font-size: 13px;
                line-height: 1.54;
            }
            &-cta {
                padding-top: 20px;
                .button {
                    min-width: 260px;
                }
            }
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -8px -16px;
        }
        &-col {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 8px 16px;
        }
        &-col-add {
            flex: 1 1 0;
            max-width: 100%;
            padding: 0 8px 16px;
        }
        &-item {
            min-height: 100%;
            background: $s;
            border-radius: 5px;
            padding: 36px 40px 16px;
            &-title {
                margin-bottom: 4px;
                font-size: 15px;
                line-height: 1.4;
                font-weight: 900;
                color: $dgr;
                padding: 9px 28px 10px 0;
                position: relative;
            }
            &-delete {
                position: absolute;
                top: 0;
                right: -15px;
                width: 40px;
                height: 40px;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 13px;
                    right: 13px;
                    height: 2px;
                    margin-top: -1px;
                    background: $t;
                    transform: rotate(45deg);
                    transition: background-color $d $f;
                    will-change: background-color;
                }
                &::after {
                    transform: rotate(-45deg);
                }
                &:hover {
                    &::before,
                    &::after {
                        background-color: $text;
                    }
                }
            }
            &-detail {
                display: block;
                margin-bottom: 20px;
                padding-right: 28px;
                position: relative;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                max-height: 40px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -16px;
                    margin-top: -20px;
                    width: 40px;
                    height: 40px;
                    background: $tr url('../upload/new-cabinet-address-arrow.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                }
                &:hover {
                    color: $text;
                }
            }
            &-edit {
                display: block;
                position: relative;
                margin-bottom: 20px;
                height: 140px;
                border: 1px solid #E1E1E1;
                border-radius: 4px;
                overflow: hidden;
                &-img {
                    position: absolute;
                    inset: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-icon {
                    position: absolute;
                    top: 6px;
                    right: 6px;
                    width: 40px;
                    height: 40px;
                    background: $w;
                    border-radius: 4px;
                    img {
                        width: 100%;
                    }
                }
                &-pin {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    margin-top: 4px;
                }
            }
        }
        &-item-add {
            min-height: 100%;
            border-radius: 5px;
            border: 1px dashed $p;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            padding: 31px;
            &-title {
                display: block;
                position: relative;
                padding: 9px 0 11px 54px;
                font-size: 13px;
                line-height: 1.54;
                font-weight: 500;
            }
            &-icon {
                position: absolute;
                left: 0;
                top: 0;
                width: 40px;
                height: 40px;
                background: #CDE6B9;
                border-radius: 4px;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 10px;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    background: $p;
                }
                &::after {
                    width: 10px;
                    height: 2px;
                }
            }
        }
    }
    &-enable-toggle {
        display: block;
        margin-bottom: 20px;
        input {
            display: none;
            &:checked + label {
                &::before {
                    background-color: $p;
                }
                &::after {
                    border-color: $p;
                    transform: translateX(14px);
                }
            }
            &:disabled + label {
                cursor: default;
                &::before {
                    background-color: rgba(161, 161, 161, 0.3);
                }
                &::after {
                    border-color: rgba(161, 161, 161, 0.3);
                }
            }
            &:checked:disabled + label {
                &::before {
                    background-color: #CDE6B9;
                }
                &::after {
                    border-color: #CDE6B9;
                }
            }
        }
        label {
            cursor: pointer;
            user-select: none;
            display: block;
            position: relative;
            margin: 0;
            padding: 0 0 0 40px;
            font-size: 13px;
            line-height: 1.54;
            color: $dgr;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 3px;
                width: 32px;
                height: 14px;
                border-radius: 10px;
                background: $t;
                transition: background-color $d $f;
                will-change: background-color;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 1px;
                width: 18px;
                height: 18px;
                border: 4px solid $t;
                background: $w;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                transition: border-color $d $f, transform $d $f;
                will-change: border-color, transform;
            }
        }
    }
}
select.ui-datepicker-year {
    display: inline-block;
    vertical-align: top;
    padding: 0 31px 1px 0;
    text-align: center;
    height: 38px;
    font-size: 18px;
    line-height: normal;
    font-family: $ff;
    font-weight: 500;
    color: $b;
    background: $tr url('../upload/new-cabinet-select-year.svg') 100% 50% no-repeat;
    background-size: 32px 32px;
    border: 0;
    border-radius: 0;
    appearance: none;
}
select.ui-datepicker-year::-ms-expand {
    display: none;
}