/* responsive */
@media (max-width: 1325px) {
    .no-js {
        .recently-viewed {
            .slide-js {
                &:nth-child(6) {
                    display: none;
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    width: 20%;
                }
            }
        }
        .product-gallery-thumbs-slider {
            .slide-js {
                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }
    .header-navbar,
    .header-content,
    .nav-global {
        .col-5,
        .col-6,
        .col-12 {
            flex: 1 0 auto;
            max-width: 100%;
        }
    }
    .nav-global {
        .col-4 {
            flex: 0 0 40px;
            max-width: 40px;
        }
    }
    .header-menu,
    .header-menu-no-js {
        li {
            a {
                padding-top: 26px;
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .menu {
        & > li {
            & > a {
                padding-top: 18px;
                font-size: 15px;
            }
        }
    }
    .menu-sale {
        padding-left: 0;
        &:before {
            display: none;
        }
    }
    .nav-search {
        max-width: none;
        padding-left: 0;
        &-focus {
            padding-left: 39px;
            .nav-search-input {
                display: block;
            }
            .nav-search-toggle {
                display: none;
            }
        }
    }
    .nav-search-input {
        display: none;
    }
    .nav-search-toggle {
        display: block;
    }
    .subscribe-title,
    .subscribe-title h4 {
        font-size: 15px;
    }
    .thumb-caption-v1,
    .thumb-caption-v2 {
        padding-top: 28px;
        padding-left: 20px;
        .thumb-subtitle {
            font-size: 28px;
        }
    }
    .thumb-caption-v3 {
        padding-top: 27px;
        .thumb-subtitle {
            font-size: 38px;
            letter-spacing: -1.2px;
        }
    }
    .thumb-caption-v4 {
        padding-top: 28px;
        padding-left: 20px;
        .thumb-subtitle {
            font-size: 38px;
            letter-spacing: -1.1px;
        }
    }
    .thumb-caption-v5 {
        padding-top: 30px;
        padding-left: 20px;
        .thumb-title {
            font-size: 38px;
            letter-spacing: -1.1px;
        }
    }
    .thumb-caption-v6 {
        padding-top: 27px;
        .thumb-title {
            font-size: 24px;
            letter-spacing: 0;
        }
    }
    .thumb-caption-v7 {
        padding-bottom: 15px;
    }
    .thumb-caption-v8 {
        padding-top: 20px;
        .thumb-subtitle {
            font-size: 28px;
        }
    }
    .thumb-caption-v9 {
        padding-bottom: 21px;
        padding-left: 20px;
        .thumb-subtitle {
            font-size: 29px;
            letter-spacing: -0.5px;
        }
    }
    .thumb-caption-v10 {
        padding-top: 42px;
        .thumb-subtitle {
            font-size: 37px;
            letter-spacing: -1.2px;
        }
    }
    .thumb-caption-v11 {
        padding-bottom: 31px;
        .thumb-subtitle {
            font-size: 34px;
            letter-spacing: -1.1px;
        }
    }
    .promotion-caption,
    .tv-item-content {
        padding: 20px;
    }
    .advices-item-title {
        padding: 30px 20px 20px 30px;
    }
    .category-caption {
        padding: 0 10px 20px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 1.15;
    }
    .banner-subtitle {
        font-size: 15px;
    }
    .pagination-list {
        li {
            padding-left: 4px;
            padding-right: 4px;
        }
    }
    .catalog-products {
        .col-4 {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
        .col {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &-square {
            .catalog-product-img-link {
                max-width: 480px;
            }
        }
    }
    .catalog-product-img-link {
        max-width: 325px;
    }
    .product {
        .col-11 {
            flex: 0 0 60%;
            max-width: 60%;
        }
        .col-5 {
            flex: 0 0 40%;
            max-width: 40%;
        }
    }
    .product-gallery-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-features {
        padding-left: 0;
        padding-right: 0;
        margin-left: -10px;
        margin-right: -10px;
    }
    .product-presentation {
        .col-4 {
            flex: 0 0 40%;
            max-width: 40%;
        }
        .col-12 {
            flex: 0 0 60%;
            max-width: 60%;
        }
    }
    .product-presentation-desc {
        .col-7 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .product-presentation-content {
            padding: 0 20px;
        }
    }
    .product-presentation-content {
        padding-right: 20px;
        padding-left: 40px;
    }
    .product-presentation-manuals {
        margin-left: -20px;
    }
    .product-presentation-manual-wrapper {
        padding-left: 20px;
    }
    .product-brand-info-logo {
        flex: 0 0 180px;
        max-width: 180px;
        padding-right: 30px;
    }
    .product-brand-info-logo-img {
        height: 150px;
        padding: 10px;
    }
    .product-brand-features {
        padding-left: 0;
        padding-right: 0;
    }
    .product-comments-list {
        .row {
            flex-wrap: wrap-reverse;
        }
        .offset-1 {
            margin-left: 0;
        }
        .col-11,
        .col-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .product-discounted-item-reason {
        width: 65%;
    }
    .product-color {
        min-height: 185px;
    }
    .order-price-block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .order-caption,
    .order {
        .col-11 {
            padding-right: 20px;
        }
    }
    .order-product,
    .order-recommended-product {
        padding-left: 10px;
    }
    .order-recommended-product {
        padding-right: 0;
    }
    .order-product-img,
    .order-recommended-product-img {
        flex: 0 0 80px;
        max-width: 80px;
        padding-right: 20px;
    }
    .order-recommended-product-img {
        padding-top: 14px;
        padding-bottom: 10px;
    }
    .order-recommended-product-button {
        flex: 0 0 200px;
        max-width: 200px;
        padding-left: 20px;
    }
    .order-product-set-list {
        padding-left: 90px;
    }
    .order-product-title-wrapper {
        margin-left: -20px;
    }
    .order-product-title {
        margin-left: 20px;
    }
    .order-product-change-toggle {
        margin-left: 0;
    }
    .order-product-options {
        margin-left: -20px;
    }
    .order-product-option {
        padding-left: 20px;
    }
    .order-delivery-type-item {
        padding-left: 17px;
    }
    .order-comment {
        margin: 0 -10px;
    }
    .order-comment-col,
    .order-comment-col-x2 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px;
    }
    .product-material {
        .col-10 {
            flex: 0 0 75%;
            max-width: 75%;
        }
        .offset-1 {
            margin-left: 0;
        }
    }
    .product-material-content {
        padding: 0 20px 0 40px;
    }
    .product-desc-content {
        padding: 24px 20px 5px;
    }
    .search-results-categories-hidden {
        padding-right: 20px;
    }
    .product-additional-content {
        padding: 0 10px;
    }
    .product-additional-info {
        padding-left: 10px;
        padding-right: 10px;
    }
    .product-additional-availability {
        span {
            font-size: 10px;
            line-height: 18px;
        }
    }
    .product-additional-button {
        .button {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .contact-map-company {
        top: 10px;
        right: 20px;
        width: 400px;
    }
    .contact-map-company-content {
        max-height: 500px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .wholesale-customers {
        .category-caption {
            padding-bottom: 20px;
        }
        .category-title {
            font-size: 18px;
            line-height: 1.2223;
        }
    }
    .category-info {
        min-height: 54px;
        font-size: 12px;
        line-height: 1.5;
    }
}
@media (max-width: 1179px) {
    .product-color {
        min-height: 170px;
    }
    .wholesale-customers {
        .category-caption {
            padding: 0 0 10px;
        }
    }
}
@media (max-height: 1079px), (max-width: 1359px) {
    .modal {
        width: 1000px;
    }
    .modal-gallery-thumbs {
        flex: 0 0 104px;
        max-width: 104px;
        padding-bottom: 3px;
    }
    .modal-gallery-thumb {
        height: 104px;
        margin-bottom: 8px;
        .three-d-icon {
            height: 90px;
            padding-top: 54px;
        }
    }
    .modal-gallery-wrapper {
        max-width: calc(100% - 104px);
    }
}