.v3-order {
    &-cart {
        &-caption {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding-bottom: 9px;
            margin-bottom: 18px;
            border-bottom: 1px solid #E1E1E1;
        }
        &-title {
            font-weight: 500;
            color: $b;
        }
        &-share {
            max-width: 70%;
            padding-left: 10px;
            &.active {
                .v3-order-cart-share-cta {
                    display: none;
                }
                .v3-order-cart-share-block {
                    display: flex;
                }
            }
            &-cta {
                display: block;
                font-weight: 500;
                text-align: right;
            }
            &-block {
                display: none;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-end;
            }
            &-success {
                position: relative;
                padding-left: 14px;
                white-space: nowrap;
                &::before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 10px;
                    height: 8px;
                    background: $tr url('../upload/check-green.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                }
            }
            &-link {
                display: block;
                margin-left: 13px;
                font-weight: 500;
                text-align: right;
            }
        }
        &-textile {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 13px;
            line-height: 1.54;
            color: $b;
            strong {
                font-weight: normal;
                color: $text;
            }
            &-link {
                color: $b;
                &:hover {
                    color: $b;
                }
                img {
                    display: inline-block;
                    vertical-align: top;
                    margin: 2px 8px 0 5px;
                    width: 16px;
                    height: 16px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                svg {
                    display: inline-block;
                    vertical-align: top;
                    margin: 7px 0 0 7px;
                }
            }
            &-detail {
                position: absolute;
                width: 442px;
                padding: 27px 30px 48px;
                max-width: 100%;
                background: $w;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
                .new-product-modal-close {
                    top: 20px;
                    right: 20px;
                }
                &-caption {
                    margin: 0 -30px 32px;
                    padding: 0 60px 29px 30px;
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: bold;
                    color: $b;
                    border-bottom: 1px solid #e1e1e1;
                }
                &-content {}
                &-img {
                    margin-bottom: 24px;
                    img {
                        width: 100%;
                        height: 310px;
                        object-fit: cover;
                    }
                }
                &-text {
                    font-size: 13px;
                    line-height: 1.54;
                    color: $b;
                    p {
                        margin: 0 0 8px;
                    }
                    strong {
                        line-height: normal;
                        font-weight: 500;
                    }
                    em {
                        font-style: normal;
                        color: $text;
                    }
                }
                &-button {
                    padding-top: 24px;
                    .button {
                        width: 100%;
                    }
                }
            }
        }
    }
}